/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Asterisk to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* CSS variables for font */
:root {
  --primary-font: "Merriweather", sans-serif;
  --secondary-font: "Poppins", sans-serif;
}

/* CSS variables for colour */
:root {
  --clr-primary: #000000;
  --bg-opacity: rgba(0, 0, 0, 0.6);
  --btn-opacity: rgba(88, 101, 61, 0.7);
  --clr-secondary: #ffffff;
  --btn-colour: #58653d;
  --btn-answercolour: #1EA200;
}

html,
body {
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../images/pexel.png") no-repeat center center/cover;
}

/* Header */
header {
  background-color: var(--bg-opacity);
  padding: 10px 0;
}

h1 {
  color: var(--clr-secondary);
  margin: 0;
  font-size: 3rem;
}

a {
  text-decoration: none;
}

/* Homepage styles */
main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

#homepageh2 {
  position: absolute;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: var(--secondary-font);
  color: var(--clr-secondary);
  background-color: var(--bg-opacity);
  padding: 10px;
  border-radius: 5px;
  max-width: 80%;
}

#paragraph {
  position: relative;
  margin-top: 270px;
  color: var(--clr-secondary);
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  background-color: var(--bg-opacity);
  padding: 10px;
  border-radius: 5px;
  max-width: 80%;
}

/* 404page styles */
.p404 {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 36px;
  color: var(--clr-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-transform: translateY(-10%);
      -ms-transform: translateY(-10%);
          transform: translateY(-10%);
  padding: 10px;
  border-radius: 5px;
}

#container404 {
  background-color: var(--bg-opacity);
}

/* modal styles edited from https://github.com/WebDevSimplified/Vanilla-JavaScript-Modal/blob/master/index.html */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  border: 2px solid var(--btn-answercolour);
  border-radius: 10px;
  z-index: 50;
  width: 90vw;
  height: 90vh;
  background-color: rgba(88, 101, 61, 1);
}

.modal.active {
  display: block;
}

.modal.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

#quiz-intro {
  display: none;
  position: absolute;
  top: 20px;
  width: 500px;
  color: var(--clr-secondary);
}

section {
  margin-top: 80px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Form styles */
#usernameForm {
  display: none;
  font-family: var(--secondary-font);
  margin-top: 80px;
  width: 80vw;
  padding: 20px;
  background: var(--clr-secondary);
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 30px;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

input {
  margin-top: 20px;
  margin-bottom: 20px;
}

#messagemodal {
  margin-top: 80px;
}

.hidden {
  display: none;
}

/* Hidden quiz elements set to display none until user has clicked start button */

/* styling hidden quiz elements */
#questioncontainer {
  position: absolute;
  padding: 10px;
  background-color: var(--clr-secondary);
  font-family: var(--primary-font);
  font-size: 24px;
  border-radius: 5px;
  border: 1px solid var(--clr-primary);
  width: 80%;
}

#answerone,
#answertwo,
#answerthree,
#answerfour {
  position: relative;
  background-color: var(--clr-secondary);
  padding: 20px;
  font-size: 16px;
  border: 1px solid var(--clr-primary);
  border-radius: 5px;
}

#score {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  margin-bottom: 20px;
  color: var(--clr-secondary);
  font-family: var(--secondary-font);
  border: 3px solid var(--clr-secondary);
  -webkit-box-shadow: 1px 1px 2px;
          box-shadow: 1px 1px 2px;
  border-radius: 5px;
}

#timer {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--secondary-font);
  color: var(--clr-secondary);
  background: var(--clr-primary);
  padding: 10px 20px;
  border: 3px solid var(--clr-secondary);
  -webkit-box-shadow: 1px 1px 2px;
          box-shadow: 1px 1px 2px;
  border-radius: 5px;
}

/* Hidden end of quiz image below the form */
.modal-img {
  width: 50%;
  max-width: 400px;
  margin-top: 100px;
  border-radius: 8px;
  border: 2px solid var(--btn-answercolour);
  margin-left: auto;
  margin-right: auto;
}

/* Button Styles */
.btncontainer {
  position: relative;
  top: 30px;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

#answerbuttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

#answerbuttons .btn {
  width: 90vh;
  max-width: 500px;
  color: var(--clr-primary);
  background-color: var(--clr-secondary);
}

#nextbutton {
  display: none;
  width: 50%;
  font-family: var(--secondary-font);
  font-size: 16px;
  margin-top: 25px;
  padding: 5px 25px;
  border-radius: 5px;
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 20px auto 0;
}

#nextbutton:hover {
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
}

.btn {
  background-color: var(--btn-opacity);
  color: var(--clr-secondary);
  font-family: var(--secondary-font);
  padding: 5px 25px;
  font-size: 1.5rem;
  border-radius: 5px;
  font-weight: bold;
  -webkit-box-shadow: 4px 4px 0px var(--clr-primary);
          box-shadow: 4px 4px 0px var(--clr-primary);
}

.btn-404 {
  margin-top: 20px;
  padding: 1rem;
  line-height: 0.3;
}

.btn-404:hover {
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
}

#highscorebtn {
  display: none;
  width: 50%;
  font-family: var(--secondary-font);
  font-size: 16px;
  padding: 5px 25px;
  border-radius: 5px;
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#highscorebtn:hover {
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
}

.close-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30%;
  color: var(--clr-secondary);
  font-family: var(--secondary-font);
  font-size: 16px;
  padding: 4px 20px;
  background-color: var(--clr-primary);
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 0px var(--clr-primary);
          box-shadow: 2px 2px 0px var(--clr-primary);
}

.close-button:hover {
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
}

.startquizbtn {
  display: none;
}

#usernameForm button {
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  font-family: var(--secondary-font);
  border: none;
  padding: 5px 25px;
  font-size: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
}

/* Styles for answer buttons when correct and incorrect */
.correct {
  background-color: var(--btn-answercolour) !important;
  font-size: 20px !important;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.incorrect {
  background-color: rgb(179, 19, 19) !important;
  opacity: 0.9;
  -webkit-transition: 100ms;
  -o-transition: 100ms;
  transition: 100ms;
}

/* Styles for content inside modals */

/* Highscore h2 element styles */
#finalscore {
  margin-top: 10px;
  color: var(--clr-secondary);
  font-family: var(--primary-font);
  font-size: 1.2rem;
  font-weight: 800;
  text-decoration: underline;
}

#highScoresModal li {
  font-size: 0.6rem;
  font-weight: 500;
  padding: 10px;
  font-family: var(--secondary-font);
  color: var(--clr-secondary);
  list-style-position: inside; /* solution to move list numbers inside modal found from W3schools */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Gold - 1st Place with code used from https://developer.mozilla.org/en-US/docs/Web/CSS/:first-child */
#highscorelist li:first-child {
  color: gold;
  font-weight: bold;
  font-size: 1rem;
  background-color: var(--bg-opacity);
  border-radius: 5px;
  width: 20vw;
  margin: auto;
  -webkit-box-shadow: 2px 2px 0px var(--clr-primary);
          box-shadow: 2px 2px 0px var(--clr-primary);
  margin-top: 5px;
  margin-bottom: 5px;
}
/* Code used from https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-child */
#highscorelist li:nth-child(2) {
  color: silver;
  font-weight: bold;
  font-size: 0.9rem;
  background-color: var(--bg-opacity);
  border-radius: 5px;
  width: 20vw;
  margin: auto;
  -webkit-box-shadow: 2px 2px 0px var(--clr-primary);
          box-shadow: 2px 2px 0px var(--clr-primary);
  margin-bottom: 5px;
}

#highscorelist li:nth-child(3) {
  color: #cd7f32;
  font-weight: bold;
  font-size: 0.8rem;
  background-color: var(--bg-opacity);
  border-radius: 5px;
  width: 20vw;
  margin: auto;
  -webkit-box-shadow: 2px 2px 0px var(--clr-primary);
          box-shadow: 2px 2px 0px var(--clr-primary);
  margin-bottom: 5px;
}

/* How to play styles for h2 element and span elements */
#howToPlayh2 {
  margin-top: 10px;
  color: var(--clr-secondary);
  font-family: var(--primary-font);
  font-size: 1.25rem;
  font-weight: 800;
  text-decoration: underline;
}

.highlight {
  font-weight: 700;
  font-size: 0.9rem;
  padding: 2px;
  color: rgb(191, 250, 191);
}

#howToPlayModal ul {
  list-style: none;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 10px;
  font-family: var(--secondary-font);
  color: var(--clr-secondary);
}

#howToPlayModal li {
  margin-top: 20px;
}

/* Footer */
footer {
  background-color: var(--bg-opacity);
  color: var(--clr-secondary);
  padding: 10px 0;
  font-size: 14px;
}

/* Media queries to allow different styles for small screens (tablets and mobile phones) */
@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }

  #homepageh2 {
    font-size: 1.2rem;
    padding: 0 10px;
    margin-bottom: 10px;
  }

  #paragraph {
    font-size: 1rem;
    padding: 0 10px;
  }
  #highScoresModal,
  #howToPlayModal,
  .modal {
    height: 90vh;
  }
  .btn {
    font-size: 1rem;
  }
  .button-container {
    padding: 5px 15px;
  }
  #answerbuttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 120px;
  }
  #answerbuttons .btn {
    width: 100%;
  }
  #btnhowtoplay {
    padding: 5px 15px;
    font-size: 1rem;
  }

  #headerhowtoplay {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--secondary-font);
    color: var(--clr-secondary);
    padding: 10px;
    border-radius: 5px;
  }

  #questioncontainer {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .p404 {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 1.2rem;
  }
}

/* Media queries to allow different styles for desktop and larger screens */
@media (min-width: 992px) {
  h1 {
    font-size: 3rem;
  }

  #homepageh2 {
    font-size: 2.5rem;
    padding: 0 10px;
    margin-bottom: 10px;
  }

  #paragraph {
    font-size: 1.5rem;
    padding: 0 10px;
  }
  .btn {
    font-size: 1.5rem;
  }

  .button-container {
    padding: 5px 15px;
    margin-top: 70px;
  }
  #howToPlayh2,
  #finalscore,
  #btnhowtoplay {
    font-size: 1.5rem;
  }
  #questioncontainer {
    font-size: 20px;
    margin-top: 10px;
  }
  #answerbuttons {
    margin-top: 140px;
    font-size: 24px;
    gap: 15px;
  }
  .close-button {
    font-size: 20px;
  }
  #nextbutton {
    margin-top: 20px;
  }
  #score,
  #timer,
  #questioncontainer {
    font-size: 32px;
  }
  #nextbutton, #highscorebtn {
    font-size: 24px;
  }
  #usernameForm button,
  #username {
    font-size: 1.25rem;
  }
  #usernameForm {
    font-size: 1.25rem;
    width: 50vh;
  }
  .correct {
    font-size: 30px !important;
  }
  #howToPlayModal ul li {
    margin-top: 60px;
    font-size: 1.2rem;
  }
  .highlight {
    font-size: 1.25rem;
  }
  #finalscore {
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #highScoresModal li {
    font-size: 1.3rem;
  }
  #highscorelist li:first-child {
    font-size: 2rem;
  }
  #highscorelist li:nth-child(2) {
    font-size: 1.7rem;
  }
  #highscorelist li:nth-child(3) {
    font-size: 1.5rem;
  }
  .modal-img {
    margin-top: 100px;
    width: 250px;
    height: auto;
}
}
/* Styles for screens extra large */
@media (min-width: 1600px) {
  h1 {
    font-size: 4rem;
  }
  #homepageh2 {
    font-size: 3.5rem;
  }
  #paragraph,
  #howToPlayh2,
  #finalscore,
  #btnhowtoplay,
  .btn {
    font-size: 2.5rem;
  }
  #answerbuttons {
    margin-top: 100px;
    font-size: 28px;
    gap: 25px;
  }
  #questioncontainer,
  .close-button {
    font-size: 32px;
    margin-top: 20px;
  }
  #score,
  #timer,
  label {
    font-size: 40px;
  }
  #questioncontainer, #nextbutton, #highscorebtn {
    font-size: 28px;
  }
  #usernameForm button,
  #username {
    font-size: 2.5rem;
  }
  #usernameForm {
    font-size: 1.5rem;
  }
  .correct {
    font-size: 36px !important;
  }
  #howToPlayModal ul li {
    margin-top: 90px;
    font-size: 1.7rem;
  }
  .highlight {
    font-size: 2rem;
  }
  #finalscore {
    font-size: 3.5rem;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  #highScoresModal li {
    font-size: 1.8rem;
  }
  #highscorelist li:first-child {
    font-size: 2.5rem;
  }
  #highscorelist li:nth-child(2) {
    font-size: 2.2rem;
  }
  #highscorelist li:nth-child(3) {
    font-size: 2rem;
  }
  .modal-img {
    margin-top: 130px;
    width: 300px;
    height: auto;
}
}